/*导航  start*/
.menu {
    height: 60px;
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 998;
    padding-left: 60%;
    width: 100%;
    background: #C8C7CC;
}
.menu li {
    list-style: none;
    float: left;
    display: inline-block;
    margin-left: 20px;
    margin-top: 10px;
}
.menu li {
    color: #333;
    text-decoration: none;
    text-align: center;
    display: block;
    font: 16px/42px "Microsoft Yahei";
    position: relative;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
    letter-spacing: 5px;
}
.menu li a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 0 15px;
}
.menu li::before, .menu li::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}
.menu li::before {
    top: 0;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}
.menu li::after {
    bottom: 0;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
}
.menu li:hover a, .menu li:focus a, .menu li.active a {
    color: #fff;
}
.menu li:hover::before, .menu li:focus::before, .menu li.active::before, .menu li:hover::after, .menu li.active::after, .menu li:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}
/*导航  end*/


/*common start*/
.anenst, .baraja, .action, .contacts {
    width: 1280px;
    margin: 0 auto;
    text-align: center;
    background: url(../images/about_1.png) no-repeat center center;
    height: 100%;
    position: relative;
}
h1 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 15%;
    text-align: center;
}
.action {
    text-align: inherit;
}
/*common end*/


/*about start*/
.anenst h4 {
    font-weight: 500;
    margin-top: 55px;
    font-size:16px;
}
.anenst h4:after, .anenst h4:before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
}
.anenst h4:before {
    top: 250px;
    left: 380px;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
}
.anenst h4:after {
    top: 290px;
    right: 380px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
}
.anenst img {
    width: 120px;
    height: 120px;
    margin-top: 70px;
}
.anenst h3 {
    margin-top: 30px;
    margin-bottom: 30px;
}
.anenst h3 img {
    width: 300px;
    margin: 20px 0 0 0;
}
.anenst p {
    color: #000011!important;
}
/*about end*/


/*skill start*/


/*skill end*/


/*show start*/
.flicker-example {
    width: 100%;
    margin: 0 auto;
    height:50%;
}
.flicker-example ul li {
    float: left;
    overflow:hidden;
}
.flicker-example ul li img {
    float: left;
    width: 430px;
    height:500px;
    margin-right: 4%;
}
.bookWord h4 a{
	font-size:18px;
	line-height:60px;
	color:#333333;
}
.bookWord p{
	line-height:30px;
	color:#444444;
    font-size:14px;
}
.bookWord p b{
	color:#666666;
    font-size:16px;
}
/*show end*/


/*contact start*/
.contacts {
    position: relative;
}
.contacts p {
    font-size: 14px;
    font-family: "微软雅黑";
    color: #333;
    text-align: center;
    line-height: 30px;
    padding-top: 10%;
}
.contacts span {
    font-size: 16px;
    color: #f05451;
    margin: 30px;
    display: block;
}
.contacts ul {
    position: absolute;
    top: 75%;
    left: 40%;
}
.contacts ul li {
    float: left;
}
.contacts ul li a {
    padding: 10px;
    font-size: 12px;
    display: inline-block;
    color: #444;
}

/*contact end*/